h1 {
    color:rgb(209, 0, 28);
}

.blue-heading {
    color: blue;
}

.red_rose {
    color: rgb(255, 0, 0);
}

.pink_flower {
    color: rgb(255, 0, 242);
}

.pink2_flower {
    color: rgb(195, 0, 255);
}
.lilii {
    color: rgb(13, 194, 52);
}

.iris {
    color: rgb(179, 224, 55);
}