.calc {
    width: 300px;
    background-color: #5ea3a5;
}

.calc-display {
    width: 100%;
    height: 50px;
    background-color: #fee7ca;
}

.calc-btn {
    height: 50px;
    background-color: #d5193e;
    border: 1px solid #000000;    /*цвет*/
    flex: 1 1 33%;                  /*размер кнопок*/
}

.calc-btns {
    display: flex;
    flex-direction: row;  /*все элементы в строку. column - столбец*/
    flex-wrap: wrap;    
}

.calc-operation-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.calc-operation-btn {
    height: 50px;
    background-color: #fcbe15c9;
    border: 1px solid #000000;
    flex: 1 1 25%;
}